{% extends 'base.html' %}

{% block title %}

    Index page

{% endblock %}

{% block content_title %}

    Main page

{% endblock %}

{% block content %}

    <div class="offset-md-3 col-md-6">
        <p>
            Зло — это зло. 
            Меньшее, большее, среднее — всё едино, пропорции условны, а границы размыты.
            Я не святой отшельник, не только одно добро творил в жизни.
            Но если приходится выбирать между одним злом и другим, я предпочитаю не выбирать вообще.</p>
        <p>
            Дикая Охота скачет по небесам каждое полнолуние!
            Темные эти всадники, вестники второго Сопряжения, уводят наших детей в неведомые земли.
            Но можем ли мы обратиться вспять, к свету? 
            Хватит ли у нас сил изгнать чародеев? 
            И объединиться вокруг Вечного Огня?
            Ночь - Час Меча и Топора!
            В этой войне никто не поможет нам. 
            Ночь - Час Безумия, Час Презрения!
        </p>
    </div>
{% endblock %}